#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mods";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";
        require-prior-idle-ms = <75>;
        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC   &kp Q      &kp W      &kp E       &kp R       &kp T                                  &kp UP               &kp Y &kp U       &kp I       &kp O      &kp P         &kp MINUS
&kp TAB   &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G                       &kp LEFT &kp ENTER &kp RIGHT    &kp H &hm RSHFT J &hm RCTRL K &hm LALT L &hm RGUI SQT  &kp EQUAL
&kp LSHFT &kp Z      &kp X      &kp C       &kp V       &kp B        &kp SPACE               &kp DOWN             &kp N &kp M       &kp COMMA   &kp DOT    &kp FSLH      &kp BSLH
                                &lt 3 ESC   &lt 1 SPACE &lt 2 TAB                                                             &lt 5 RET   &lt 4 BSPC  &lt 6 DEL
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
&trans &trans   &trans   &trans    &trans    &trans                             &mmv MOVE_UP                   &kp K_REDO &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO &trans
&trans &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &trans              &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &kp LEFT   &kp DOWN    &kp UP   &kp RIGHT    &kp CAPS  &trans
&trans &trans   &trans   &trans    &trans    &trans   &kp C_MUTE                &mmv MOVE_DOWN                 &kp INS    &kp HOME    &kp PG_DN  &kp PG_UP &kp END    &trans
                                   &trans    &trans   &trans                                                              &trans      &trans     &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        mouse_layer {
            display-name = "MOUSE";
            bindings = <
&trans &trans   &trans   &trans    &trans    &trans                             &mmv MOVE_UP                   &kp K_REDO &kp K_PASTE    &kp K_COPY     &kp K_CUT    &kp K_UNDO      &trans
&trans &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &trans              &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &trans     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &trans
&trans &trans   &trans   &trans    &trans    &trans   &kp C_MUTE                &mmv MOVE_DOWN                 &trans     &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &trans
                                   &trans    &trans   &trans                                                              &mkp RCLK      &mkp LCLK      &mkp MCLK
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        media_layer {
            display-name = "MEDIA";
            bindings = <
&trans &trans   &trans   &trans    &trans    &trans                             &mmv MOVE_UP                   &rgb_ug RGB_TOG &rgb_ug RGB_EFF  &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_SPI &trans
&trans &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &trans              &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &trans          &kp C_PREV       &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT      &trans
&trans &trans   &trans   &trans    &trans    &trans   &kp C_MUTE                &mmv MOVE_DOWN                 &trans          &bt BT_PRV       &bt BT_NXT      &bt BT_CLR      &bt BT_CLR_ALL  &trans
                                   &trans    &trans   &trans                                                              &kp C_STOP       &kp C_PLAY_PAUSE &kp C_MUTE
            >;
            sensor-bindings = <&rgb_encoder>;
        };

        num_layer {
            display-name = "NUM";
            bindings = <
&trans &kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT                            &mmv MOVE_UP                   &trans &trans    &trans    &trans   &trans   &trans
&trans &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL            &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &trans &kp RSHFT &kp RCTRL &kp LALT &kp RGUI &trans
&trans &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH  &kp C_MUTE                &mmv MOVE_DOWN                 &trans &trans    &trans    &trans   &trans   &trans
                               &kp DOT &kp N0 &kp MINUS                                                         &trans    &trans    &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        sym_layer {
            display-name = "SYM";
            bindings = <
&trans &kp LBRC  &kp AMPS &kp ASTRK &kp LPAR  &kp RBRC                            &mmv MOVE_UP                   &trans &trans    &trans    &trans   &trans   &trans
&trans &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS             &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &trans &kp RSHFT &kp RCTRL &kp LALT &kp RGUI &trans
&trans &kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE  &kp C_MUTE                &mmv MOVE_DOWN                 &trans &trans    &trans    &trans   &trans   &trans
                                    &kp LPAR  &kp RPAR  &kp UNDER                                                         &trans    &trans    &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        fun_layer {
            display-name = "FUN";
            bindings = <
&trans &kp F12 &kp F7 &kp F8 &kp F9 &kp PSCRN                           &mmv MOVE_UP                   &trans &trans    &trans    &trans   &trans   &trans
&trans &kp F11 &kp F4 &kp F5 &kp F6 &kp SLCK             &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT     &trans &kp RSHFT &kp RCTRL &kp LALT &kp RGUI &trans
&trans &kp F10 &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK &kp C_MUTE          &mmv MOVE_DOWN                 &trans &trans    &trans    &trans   &trans   &trans
                             &kp K_APP &kp SPACE &kp TAB                                                      &trans    &trans    &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
